<div fxLayout="column">
    <app-toolbar [user]="(user$ | async).name" (redirectHome)="onRedirectHome()"></app-toolbar>

    <mat-card class="card-container">
        <mat-card-header>
            <mat-card-title>Resultados</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="row wrap">
            <app-repository *ngFor="let repository of repositories$ | async; index as i"
                            fxFlex="25" 
                            fxFlex.sm="50"
                            fxFlex.md="50"
                            fxFlex.xs="100"
                            [name]="repository.name"
                            [full_name]="repository.full_name"
                            [fork]="repository.fork"
                            [html_url]="repository.html_url"
                            [stargazers_count]="repository.stargazers_count"
                            [watchers]="repository.watchers"
                            [forks]="repository.forks"
                            [created_at]="repository.created_at"
                            [updated_at]="repository.updated_at"
                            (click)="openRepositoryDialog(repository)">
            </app-repository>
            <div *ngIf="error$ | async as error">{{ error.message }}</div>
        </mat-card-content>
        <mat-card-footer>
            <app-pagination *ngIf="pagination$ | async as pagination"
                 [has-next]="pagination.hasNext"
                 [has-prev]="pagination.hasPrev"
                 [page]="pagination.page"
                 [last-page]="pagination.lastPage"
                 (onNext)="loadNextPage()"
                 (onPrev)="loadPrevPage()">
            </app-pagination>
        </mat-card-footer>
    </mat-card>
</div>